
 .Qsection {
     display: flex;
     flex-direction: column;
     width: 100vw;
     height: 100vh;
     margin: 0 auto;
     background-color: #f9f5e7;
     overflow: hidden;
 }

 h6 {
     display: block;
     font-weight: bold;
     text-align: center;
     font-size: 1.2rem;
     width: 60%;
     margin: 0 auto;
     color: rgb(90, 90, 90);
     font-family: 'IBM Plex Sans KR', sans-serif;
     font-weight: 200;
     margin-bottom: 5%;
 }

 button {
     display: block;
     width: 70%;
     font-size: 0.9rem;
     color: black;
     height: 3rem;
     background-color: #f0d27c;
     border: none;
     border-radius: 10px 10px 10px 10px;
     cursor: pointer;
     margin: 0 auto;
     margin-top: 3%;
     text-align: center;
     font-family: 'IBM Plex Sans KR', sans-serif;
 }

 .hide {
     display: none;
 }


 .progressbar {
     width: 80%;
     height: 0.7rem;
     background: rgb(255, 255, 255);
     border-radius: 2rem;
     margin: 10% auto;
 }

 .progress {
     height: 100%;
     border-radius: 2rem;
     background: #f0d27c;
     transition: width .5s;
 }