#kakao-link-btn {
    background-color: #EEC50C;
    border-radius: 10px 10px;
    width: 80%;
    height: 50px;
    border: none;
    color: rgb(34, 30, 30);
    cursor: pointer;
    margin-bottom: 5%;
    margin-top: 5%;
}
.cta {
    display: flex;
    align-items: center;
    justify-content: center;
}

#kakao-link-btn p {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

#kakao_btn {
    width:10%;
    height:10%;
    border: none;
    background-color: transparent;
}